
<div class="header">
	<!--
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>       
        <li role="presentation"><a href="#">Login</a></li>
      </ul>
    </nav>
    -->
    <h3 class="text-muted"><%= link_to 'Microblog', root_path %></h3>
</div>