<% page_title 'Página não encontrada' %>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Página não encontrada <small><font face="Tahoma" color="red">Error 404</font></small></h1>        
          <p>A página que você está buscando não foi encontrada. Clique na seta para <b>Voltar</b> em seu navegador</p>

          <p><b>Ou apenas pressione o botão abaixo:</b></p>   

          <p><%= link_to 'Home Page', root_path, class:'btn btn-large btn-primary' %></p>

       </div>    
    </div>
  </div>
</div>
